<section class="container-fluid">

    <div class="row">
        <div class="col-sm-12 p-0">

            <div class="cardapio-area">
                <div class="titulo">
                    <img src="assets/menu/detalhe.png" alt="Detalhe">
                    <h1>Cardápio</h1>
                </div>

                <div class="cardapio">
     
                    <div class="d-flex mt-4 mb-4">
                        <img id="pin" src="assets/menu/pin.png" alt="Pin">
                        <h5> <strong> Entradas </strong> </h5>
                    </div>

                    <div class="entradas">

                        <div class="mb-2">                           
                            <h6>Pão artesanal de cuscuz de milho • ricota cremosa, azeitonas</h6>
                        </div>

                        <div class="mb-2">                            
                            <h6>Tomate tonatto • tomates orgânicos fatiados finíssimos, com molho tonatto, farofa de pão e bottarga</h6>
                        </div>

                        <div class="mb-2">                            
                            <h6>Salada de pêssego, mozarela de búfala, rúcula, hortelã e parmesão</h6>
                        </div>

                    </div>

                    <hr>

                    <div class="d-flex mt-4 mb-4">
                        <img id="pin" src="assets/menu/pin.png" alt="Pin">
                        <h5> <strong> Principais </strong> </h5>
                    </div>

                    <div class="principais">

                        <div class="mb-2">                            
                            <h6>Capellini com cogumelos orgânicos, mascarpone, limão siciliano e salsinha</h6>
                        </div>

                        <div class="mb-2">                            
                            <h6>Cogumelos assados no forno a lenha, creme de castanhas, pão achatado (vegano)</h6>
                        </div>

                        <div class="mb-2">                            
                            <h6>Fettuccine Alfredo • fettuccine, queijo parmesão e manteiga</h6>
                        </div>

                    </div>

                    <hr>

                    <div class="d-flex mt-4 mb-4">
                        <img id="pin" src="assets/menu/pin.png" alt="Pin">
                        <h5> <strong> Sobremesas </strong> </h5>
                    </div>

                    <div class="sobremesas">                        
                            
                        <h6 class="mb-2">Capellini com cogumelos orgânicos, mascarpone, limão siciliano e salsinha</h6>
 
                       
                            <h6>Cogumelos assados no forno a lenha, creme de castanhas, pão achatado (vegano)</h6>
                        </div>

                        <div class="mb-2">
                            
                            <h6>Fettuccine Alfredo • fettuccine, queijo parmesão e manteiga</h6>
                        </div>

                        <img class="mt-5" src="assets/menu/detalhe.png" alt="Detalhe">
                    </div>

                 

                </div>
            </div>

        </div>
  

</section>



