.titulo{
    text-align: center;
}

.titulo h1{
    font-family: 'Poiret One', cursive;
    color: #fff;
    text-shadow: 1px 2px 1px #000;
    overflow-y: hidden;
}

.cardapio-area{
    width: 100vw;
    min-height: 90vh;
    background-image: url("../../../assets/menu/cardapio.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardapio-area img{
    width: 100%;
}

.cardapio{
    width: 50vw;
    min-height: 80vh;
}

h5,h6{
    overflow-y: hidden;
}

#pin{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

strong{
    font-family: 'MatrixIIScriptOT-Bold';
    font-style: italic;
}

@media(max-width:1190px){
    .cardapio-area{
        background-image: url("../../../assets/menu/cardapio-resize.jpg");
    }
}