<section class="container-fluid">

    <div class="row">
        <div class="col-sm-12 p-0">

            <div class="cardapio-area">
                <div class="titulo">
                    <img src="assets/menu/detalhe.png" alt="Detalhe">
                    <h1>Cardápio</h1>
                </div>

                <div class="cardapio">
     
                    <div class="d-flex mt-4 mb-4">
                        <img id="pin" src="assets/menu/pin.png" alt="Pin">
                        <h5> <strong> Entradas </strong> </h5>
                    </div>

                    <div class="entradas" *ngFor="let entrada of entradasData">

                         <div class="mb-2">                           
                            <h6>{{entrada.nome}} • {{entrada.descricao}} • {{"R$"+entrada.valor+",00"}}</h6>
                        </div>

                    </div>

                    <hr>

                    <div class="d-flex mt-4 mb-4">
                        <img id="pin" src="assets/menu/pin.png" alt="Pin">
                        <h5> <strong> Principais </strong> </h5>
                    </div>

                    <div class="principais" *ngFor="let principais of principaisData">

                        <div class="mb-2">                            
                            <h6>{{principais.nome}} • {{principais.descricao}} • {{"R$"+principais.valor+",00"}}</h6>
                        </div>

                    </div>

                    <hr>

                    <div class="d-flex mt-4 mb-4">
                        <img id="pin" src="assets/menu/pin.png" alt="Pin">
                        <h5> <strong> Sobremesas </strong> </h5>
                    </div>

                    <div class="sobremesas" *ngFor="let sobremesa of sobremesasData">                        

                        <div class="mb-2">                            
                            <h6>{{sobremesa.nome}} • {{sobremesa.descricao}} • {{"R$"+sobremesa.valor+",00"}}</h6>
                        </div> 
                        
                    </div>

                    <img class="mt-5" src="assets/menu/detalhe.png" alt="Detalhe">

                </div>
            </div>

        </div>
  
    </div>
</section>




