<section class="container-fluid">

  <div class="row">
      <div class="col-sm-12 p-0">

          <div class="agendamento-area">
              <div class="titulo">
                  <!-- <h1>Editar Reserva #{{reserve.idReserve}}</h1> -->
              </div>

              <div class="agendamento">
                  <div class="row">
                      <div class="col-sm-6 mx-auto">


                  <form class="mt-4 mb-4">
                      <div class="mb-3">
                        <label for="Unidade" class="form-label">Unidade</label>
                        <select name="Unidade" id="Unidade" class="form-select">
                            <option value="Botafogo" selected>Botafogo</option>
                            <option value="Barra da Tijuca" disabled>Barra da Tijuca</option>
                            <option value="Leblon" disabled>Leblon</option>
                          </select>
                          <div id="aviso" class="form-text">No momento somente a unidade de botafogo realiza reservas online.</div>
                      </div>

                      <div class="mb-3">
                        <label for="Pessoas" class="form-label">Pessoa(s)</label>
                        <select name="Pessoa" id="Pessoa" class="form-select">
                          <option value="Selecione" hidden>Selecione a quantidade</option>
                          <option value=1>1 Pessoa</option>
                          <option value=2>2 Pessoas</option>
                          <option value=3>3 Pessoas</option>
                          <option value=4>4 Pessoas</option>
                          <option value=5>5 Pessoas</option>
                          <option value=6>6 Pessoas</option>
                      </select>
                      </div>

                      <div class="mb-3">
                          <label for="Data" class="form-label">Data</label>
                          <input type="date" name="Data" id="Data" class="form-control">
                      </div>

                      <div class="mb-3">
                          <label for="Horario" class="form-label">Horário</label>
                          <input type="time" name="Horario" id="Horario" class="form-control">
                      </div>

                      <div class="mb-3">
                        <label for="Status" class="form-label">Status</label>
                        <select name="Status" id="Status" class="form-select">
                            <option value="" selected hidden></option>
                            <option value="Reservado">Reservado</option>
                            <option value="Cancelado">Cancelado</option>
                            <option value="Expirado">Expirado</option>
                          </select>
                      </div>

                      <div class="mb-3">
                          <button type="submit" class="btn btn-primary">Editar</button>
                      </div>
                  </form>

              </div>
          </div>
      </div>
          </div>

      </div>
  </div>

</section>


