<section class="container-fluid">

  <div class="row">
      <div class="col-sm-12 p-0">

          <div class="agendamento-area">
              <div class="titulo">
                  <h1>Editar Reserva nº {{ idReserva }}</h1>
              </div>

              <div class="agendamento">
                  <div class="row">
                      <div class="col-sm-6 mx-auto">

                  <form [formGroup]="edicao" novalidate class="mt-4 mb-4">

                      <div class="mb-3">
                        <label for="Unidade" class="form-label">Unidade</label>
                        <select name="Unidade" id="Unidade" formControlName="Unidade" class="form-select">
                            <option style="font-weight: bolder; background-color: #000;" disabled >No Momento: {{ unidade }}</option>
                            <option value="Botafogo">Botafogo</option>
                            <option value="Barra da Tijuca">Barra da Tijuca</option>
                            <option value="Leblon">Leblon</option>
                          </select>
                      </div>

                      <div class="mb-3">
                        <label for="Pessoas" class="form-label">Pessoa(s)</label>
                        <select name="Pessoa" id="Pessoa" formControlName="Pessoa" class="form-select">
                          <option style="font-weight: bolder; background-color: #000;" disabled >No Momento: {{ qtdPessoas }}</option>
                          <option value=1>1 Pessoa</option>
                          <option value=2>2 Pessoas</option>
                          <option value=3>3 Pessoas</option>
                          <option value=4>4 Pessoas</option>
                          <option value=5>5 Pessoas</option>
                          <option value=6>6 Pessoas</option>
                      </select>
                      </div>

                      <div class="mb-3">
                          <label for="Data" class="form-label">Data</label>
                          <input type="date" name="Data" id="Data" formControlName="Data" value="{{ data }}" class="form-control">
                          <div class="form-text" style="background-color: #000; text-align: center;">Data Reservada: {{ _dataFormatada }}</div>
                      </div>

                      <div class="mb-3">
                          <label for="Horario" class="form-label">Horário</label>
                          <input type="time" name="Horario" id="Horario" formControlName="Horario" value="{{ hora }}" class="form-control">
                          <div class="form-text" style="background-color: #000; text-align: center;">Hora Reservada: {{ _horaFormatada }}</div>
                        </div>

                      <div class="mb-3">
                        <label for="Status" class="form-label">Status</label>
                        <select name="Status" id="Status" formControlName="Status" class="form-select">
                            <option style="font-weight: bolder; background-color: #000;" disabled >No Momento: {{ status }}</option>
                            <option value="Reservado">Reservado</option>
                            <option value="Cancelado">Cancelado</option>
                            <option value="Expirado">Expirado</option>
                          </select>
                      </div>

                      <div class="mb-3">
                        <button type="button" (click)="editar()">Editar</button>
                      </div>
                  </form>

              </div>
          </div>
      </div>
          </div>

      </div>
  </div>

</section>


