<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

      <a class="navbar-brand" routerLink="">
        <img id="logo" src="assets/logo.png" alt="Logo" width="70" height="50">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">

          <li class="nav-item" *ngIf="!acesso">
            <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Início</a>
          </li>

          <li class="nav-item" *ngIf="!acesso">
            <a class="nav-link" routerLink="Cardapio" routerLinkActive="active-link">Cardápio</a>
          </li>

          <li class="nav-item" *ngIf="!acesso">
            <a class="nav-link" routerLink="Reserva" routerLinkActive="active-link">Reserva</a>
          </li>

          <li class="nav-item" *ngIf="!acesso">
            <a class="nav-link" routerLink="Sobre" routerLinkActive="active-link">Sobre Nós</a>
          </li>

          <li class="nav-item" *ngIf="acesso">
            <a class="nav-link" routerLink="Reservas" routerLinkActive="active-link">Reservas</a>
          </li>

        </ul>

        <ul class="navbar-nav" *ngIf="loginBtn">
            <li class="nav-item">
                <a class="nav-link" routerLink="Acesso" routerLinkActive="active-link">Acesso</a>
            </li>
        </ul>

        <ul class="navbar-nav" *ngIf="logoutBtn">
          <li class="nav-item">
              <button (click)="logout()">

                  <img src="../../../assets/header/logout.png" width="15" height="15">

              </button>
          </li>
      </ul>

      </div>
    </div>
  </nav>
