<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

      <a class="navbar-brand" routerLink="">
        <img id="logo" src="assets/logo.png" alt="Logo" width="70" height="50">
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
        
          <li class="nav-item">
            <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Início</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="Cardapio" routerLinkActive="active-link">Cardápio</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="Agendamento" routerLinkActive="active-link">Agendamento</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="Sobre" routerLinkActive="active-link">Sobre Nós</a>
          </li>

        </ul>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link disabled" routerLink="Perfil" routerLinkActive="active-link">Acesso</a>
            </li>
        </ul>

      </div>
    </div>
  </nav>