<section class="container-fluid">

    <div class="row">
        <div class="col-sm-12 p-0">

            <div class="sobre-area">
                <div class="titulo">
                    <h1>Sobre Nós</h1>
                </div>

                <div class="sobre">
                    <div class="row">
                        <div class="col-sm-10 mx-auto">
                            <div id="" class="row">
                                <div class="col-sm-6 texto">
                                    <h3> <span>E</span>is que em 1997 uma pequena romena vem para o Brasil...</h3>
                                    <hr>
                                    <p>
                                        Tomada pela paixão pelos animais a pequena decidiu logo
                                        cego que seria cozinheira de "comida de amor" como a mesma dizia.
                                    </p>
                                    <p>
                                        Após crescer, formou-se como cozinheira, tornou-se chef de cozinha de um restaurante
                                        3 estrelas michelin e então abriu seu primeiro restaurante, o Romani.
                                    </p>
                                    <p>
                                        O Romani é um restaurante vegetariano, 100% orgânico e livre de agrotóxicos.
                                    </p>
                                </div>

                                <div class="col-sm-6 imagem">
                                    <img width="325" src="assets/about/romena.jpg" alt="Romena">
                                    <h6>13-08-1988 | Brasov, Romênia</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
