<div class="container-fluid">
    <div id="cadastro" class="row">
        <div class="col-sm-4">

            <form [formGroup]="cadastro" novalidate>

                <div class="mb-2">
                    <label for="Nome" class="form-label">Nome</label>
                    <input type="text" name="nome" formControlName="nome" class="form-control">
                </div>

                <div class="mb-2">
                    <label for="Cpf" class="form-label">CPF</label>
                    <input type="text" name="cpf" formControlName="cpf" [dropSpecialCharacters]="false" mask="000.000.000-00" [showMaskTyped] = "true" class="form-control">
                </div>

                <div class="mb-2">
                    <label for="Telefone" class="form-label">Telefone</label>
                    <input type="text" name="telefone" formControlName="telefone" [dropSpecialCharacters]="false" mask="(00) 00000-0000" [showMaskTyped] = "true" class="form-control">
                </div>

                <div class="mb-2">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" name="email" formControlName="email" class="form-control">
                </div>

                <div class="mb-2">
                    <label for="Senha" class="form-label">Senha</label>
                    <input type="password" formControlName="senha" class="form-control">
                </div>

                <button (click)="cadastrar()">Cadastrar</button>

                <div class="text-center mt-3">
                    <a [routerLink]="['/Acesso']">já possuo acesso</a>
                </div>

            </form>

        </div>

    </div>
</div>

