<footer class="container-fluid">
    <div class="row">
        <!-- Informações -->
        <div class="col-sm-5 info">

            <div class="row">
                <div class="col-sm-6">
                    <p>Endereço: Rua dos Palmares, nº71 | Botafogo - RJ | CEP 12345-678</p>
                </div>

                <div class="col-sm-6">
                    <strong><p>Nosso tempero especial é a paixão pela cozinha! 💚</p></strong>
                </div>
            </div>

        </div>

        <!-- Redes Sociais -->
        <div class="col-sm-7 social">

            <div class="row">
                <div class="col-sm-12 d-flex">
                    <a href="http://" target="_blank">
                        <img src="assets/social-media/facebook.png" alt="Logo Angular" width="24" height="24">
                    </a>
                    <a href="http://" target="_blank">
                        <img src="assets/social-media/twitter.png" alt="Logo Angular" width="24" height="24">
                    </a>
                    <a href="http://" target="_blank">
                        <img src="assets/social-media/youtube.png" alt="Logo Angular" width="24" height="24">
                    </a>
                    <a href="http://" target="_blank">
                        <img src="assets/social-media/instagram.png" alt="Logo Angular" width="24" height="24">
                    </a>
                    <a href="http://" target="_blank">
                        <img src="assets/social-media/linkedin.png" alt="Logo Angular" width="24" height="24">
                    </a>
                </div>

            </div>

        </div>
    </div>
</footer>
