<section class="container-fluid">

    <div class="row">
        <div class="col-sm-12">

            <div id="home" class="row">
                <div class="col-sm-6 col-left">
                    <h1>ROMANI</h1>
                    <h4>comida vegetariana 100% orgânica</h4>                  
                </div>

                <div class="col-sm-6 col-right">
                    <div class="col-right-itens">

                        <div>
                            <button routerLink="Reserva">RESERVAR MESA</button>
                        </div>
                        <div class="icons">
                            <div>
                                <img width="50" src="assets/home/organico.png" alt="Natural">
                            </div>
                            <div>
                                <img width="50" src="assets/home/natural.png" alt="Natural">
                            </div>
                            <div>
                                <img width="35" src="assets/home/sem-pesticida.png" alt="Natural">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</section>


