*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

:root{
    --fontePrincipal-fonts: 'Catamaran', sans-serif;
    --corPrincipal-color: #0dd13a;
    --corPrincipalTrasnparente-color: rgb(13, 209, 58, 0.2);
    --corFooter-color: #414141;
}