<div class="container-fluid">
    <div id="acesso" class="row">
        <div class="col-sm-4">

            <form [formGroup]="acesso" (ngSubmit)="acessar(acesso)" autocomplete="off">

                <div class="mb-2">
                    <label for="Email" class="form-label">Email</label>
                    <input type="email" name="email" formControlName="email" autocomplete="off" class="form-control">
                </div>

                <div class="mb-4">
                    <label for="Senha" class="form-label">Senha</label>
                    <input type="password" name="senha" formControlName="senha" autocomplete="off" class="form-control">
                </div>

                <button type="submit">Acessar</button>

                <div class="text-center mt-3">
                    <a [routerLink]="['/Cadastro']">não possuo acesso</a>
                </div>

            </form>

        </div>

    </div>
</div>
